body{
    background-color: whitesmoke;
}
.container{
    /* border: 1px solid black; */
    height: 80vh;
    width: fit-content;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    /* margin: topbottom leftright */

}
.bannerimg{
    height: inherit;
}
.secondside{
    width: 25vw;
    height: inherit;
}
.formBox{
    border: 1px solid silver;
    background-color: white;
    margin: 0px 10px;
    height: 60%;
    width: 98%;
    margin-bottom: 20px;
}
.wordlogo{
    height: 60px;
    width: 175px;
    margin: 50px auto 10px auto;

}
.logo{

height: inherit;
width: inherit;    
}
.formBox form{
    width: 75%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.formBox .form-controller{
    padding: 8px;
    margin-bottom: 10px;
    border: 0.5px solid silver;
    background-color: whitesmoke;
    font-size: 9pt;
}
.formBox form .btn{
    background-color: rgb(68, 173, 208);
    color: white;
    padding: 7px;
    border: none;
    border-radius: 3px;
}
.orSection{
    width: 75%;
    margin: 20px auto;
    display: flex;
    flex:flex-wrap;
    color: silver;
}
.orSection .softline{
    width: 40%;
    border-bottom: 1px solid silver;

}
.fbtag{
    width: 75%;
    margin: 0px auto;
    /* border: 1px solid black */
    text-align: center;
    color: darkblue;
    font-weight: bold;
}
.forgot{
    width: 75%;
    margin: 0px auto;
    text-align: center;
    color: grey;
    font-size: 10pt;
    position: relative;
    top: 37px;

}
.reg{
    border: 1px solid silver;
    background-color: white;
    margin: 0px 10px;
    /* height: 30% */
    padding: 30px 0px;
    width: 98%;
    text-align: center;
}
.reg span{
    color: blue;

}
.appendix{
    padding: 10px;
    text-align: center;
}
.partners img{
    width: 100px;
    height: 40px;
    margin-right: 20px;

}
.partners{
    /* border:1px solid black; */
    width: fit-content;
    margin: 0px auto;
}
         
    @media(max-width:1000px){
        .bannerimg{
            display: none;
        }
    }